@import url(style.css);
main{
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 30px;
}
/* nome da linha do onibus */
hr{
    border: none;
    border-top: 1px solid var(--terciary);
    margin: 10px 0;
}
#bus_name_container, #schedules_container{
    align-items: center;
    display: flex;
    justify-content: center;
}
.bus_name{
    background-color: var(--terciary);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#color{
    background-color: #ffff00;
    color: yellow;
    height: 3vh;
    width: 1vh;
    border-radius: 10px;
    margin-left: 20px;
}
.bus_container_favorites{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 110%;
    padding: 10px 16px;
}
/* horarios */
#schedules_container{
    display: block;
}
.header_schedule, #price_container, #terminal_container{
    display: flex;
    justify-content: space-between;
}
.schedules{
    display: flex;
    gap: 10px;
}
.schedule{
    background-color: var(--terciary);
    padding: 15px;
    border-radius: 20px;
}
#main_infos_container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.name_terminal_container{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
#top_stops_container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.top_stops{
    display: flex;
    gap: 15px;
}
.stop{
    background-color: var(--terciary);
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.stop img{
    width: 10vh;
    height: 10vh;
    border-radius: 10px;
}
#other_info_container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.integration{
    display: flex;
    gap: 10px;
    color: var(--secondary);
}
.integration i{
    color: var(--primary);
}
.bonus{
    display: flex;
    gap: 10px;
}
.acessibility, .air_conditioning{
    display: flex;
    gap: 10px;
    background-color: var(--terciary);
    padding: 10px;
    border-radius: 10px;    
}
/* galeria */
#gallery_container{
    display: flex;
}
.galery{
    display: flex;
    gap: 10px;
}
.galery img{
    width: 100%;
    border-radius: 20px;
}
