@import url(style.css);
main{
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 30px;
}
/* nome da linha do onibus */
#bus_name_container, #schedules_container{
    align-items: center;
    display: flex;
    justify-content: center;
}
.bus_name{
    background-color: var(--terciary);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#color{
    background-color: yellow;
    color: yellow;
    height: 3vh;
    width: 1vh;
    border-radius: 10px;
    margin-left: 20px;
}
.bus_container_favorites{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 110%;
    padding: 10px 16px;
}
/* horarios */
#schedules_container{
    display: block;
}
.header_schedule{
    display: flex;
    justify-content: space-between;
}
.schedules{
    display: flex;
    gap: 10px;
}
.schedule{
    background-color: var(--terciary);
    padding: 15px;
    border-radius: 20px;
}
/* preco passagem */
#price_container{
    
}